# WordPress
wp-config.php
wp-content/uploads/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Env
.env
*.log

# Node (si build tools)
node_modules/
package-lock.json

# Composer
vendor/
composer.lock
